@media screen and (max-width:1280px){
    body{
        position: relative;
        grid-template-areas: 
        "header header header"
        "form form form"
        "link image footer"
        "form_2 form_2 form_2";
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 50px auto auto auto;
        gap: 40px;
        transition: all 1s ease-out;
    }
    h1{
        font-size: 24px;
        line-height: 32px;
    }
    h2{
        font-size: 18px;

    }
    #header{
        position: fixed;
        grid-area: header;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
    }
    #form {
        grid-area: form;
        padding: 0 !important;
        
    }
    #form_2{
        grid-area: form_2;
        margin: 10px auto;
    }
    #image{
        grid-area: image;
    
    }
    #link{
        grid-area: link;
        
    }
    #footer{
        grid-area: footer;
       
    }
    #footer, #link, #image{
        width: 100px !important;
        margin: 5px auto ;
    }
}