.nav_style{
    display: flex;
    margin: 0;
    align-items: center;
    color: #fff;
    list-style-type: none;
}  
li {
    margin-right: 20px;
    font-size: 18px;
}  
#link {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    padding: 10px;
    margin: 15px 0;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
#link:hover {
    text-decoration: underline;
}