input{
    font-size: 18px;
    line-height: 24px;
    padding-left: 3px;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;

}
input[type = "password"] {
    margin-top: 15px;
}

input[type = "reset"] {
    width: 100px;
    border: 1px solid #a52a2a;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    transition: 0.4s all;
    margin-left: 15px;
}

input[type = "submit"] {
    width: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    transition: 0.4s all;
    cursor: pointer;
}

input[type = "reset"]:hover {
    background-color: #a52a2a;
    color: #fff;
    cursor: pointer;
}

input[type = "submit"]:hover{
    background-color: #000000;
    color: #fff;
}

input[type = "email"] {
    border: 1px solid #000000;
    box-shadow: 1px 1px 1px #727272;
}
input[type = "date"] {
    margin-top: 8px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 1px #727272;
}


label {
    margin-left: 5px;
    font-size: 20px;
}
.survay{
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    margin-top: 10px;

}
.survay label {
    display: block;
    margin-right: 5px;
    padding-left: 8px;
}
.survay input {
    margin-right: 15px;
}